body {
    background-color: black;
    margin: 0 auto;
    text-align: center;
    font-size: large;
}




p {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:red;
    font-size: x-large;
    font-style: italic;
}

footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
    font-size: x-large;
    font-style: italic;
}

.introduction {
    color: pink;
    position: relative;

}

.project {
    color: rgb(9, 211, 211);
}

.intrest {

    color: rgb(210, 243, 24);
}

.link {
    color: white;
}




